{% extends "base.html.twig" %}

{% block title %}AppBundle:Societe:index{% endblock %}

{% block body %}
<h1>Welcome to the Societe:index page</h1>

    <ul>
        {% for s in societes %}
        <li>
            <a href="{{ path('app_societe_show', {'id': s.id}) }}">{{ s.name }}</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
