{% extends "base.html.twig" %}

{% block title %}Liste des sociétés{% endblock %}

{% block body %}

    <h2>Liste des sociétés</h2>

    <ul>
        {% for s in societes %}
        <li>
            <a href="{{ path('app_societe_show', {'id': s.id}) }}">{{ s.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_societe_create') }}">Ajouter une société</a>

{% endblock %}
