{% extends "base.html.twig" %}

{% block title %}AppBundle:Societe:show{% endblock %}

{% block body %}
    <h2>Affichage d'une société</h2>

    <p>Nom : {{ societe.name }}</p>

    {% if societe.city %}
    <p>Ville : {{ societe.city }}</p>
    {% endif %}
    
{% endblock %}
