{% extends "base.html.twig" %}

{% block title %}AppBundle:Contact:show{% endblock %}

{% block body %}
    <h2>Afficher un contact</h2>

    <p>Prénom : {{ contact.prenom }}</p>
    <p>Nom : {{ contact.nom }}</p>

    {% if contact.city %}
    <p>Ville : {{ contact.city }}</p>
    {% endif %}
{% endblock %}
