{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">Ceci est une application réalisée pendant la formation au CFD</p>
        <hr class="my-4">
        <p>Elle permet de comprendre les bases de Symfony 3</p>
        <a class="btn btn-primary btn-lg" href="{{ path('app_contact_index') }}" role="button">Voir les contacts</a>
    </div>
{% endblock %}
